.section-text-posts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.image-post-section-text-posts{
    width: 50vw;
}

.div-text-section-text-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    width: 50vw;
}

.title-post-section-text-posts{
    margin-top: 225%;
    color: var(--green-800, #072B1D);

    /* Heading/M */
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    width: 40vw;

}

.subtitle-post-section-text-post{
    margin-top: -2.5%;
    margin-bottom: -1%;
    color: var(--green-700, #0B3324);

    /* Body/M */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    width: 40vw;
}

.text-post-section-text-posts{
    color: var(--green-700, #0B3324);
    /* Body/M */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    white-space: pre-wrap;
    width: 40vw;

}

/* MOBILE */

.section-text-posts-mobile{
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-post-section-text-posts-mobile{
    width: 360px;
    height: 200px;
    flex-shrink: 0;

    border-radius: 6px;
}

.title-post-section-text-posts-mobile{
    color: var(--green-800, #072B1D);

    /* Heading/XS */
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    
    width: 360px;
}

.subtitle-post-section-text-post-mobile{
    color: var(--green-700, #0B3324);
    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    width: 360px;

    margin-top: -2.5%;
    margin-bottom: -1%;
}

.text-post-section-text-posts-mobile{
    color: var(--green-700, #0B3324);

    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18px */

    width: 360px;

    white-space: pre-wrap;
}