/* WEB */

.section-terapias{
    background: #FFF;
    box-shadow: 0px 4px 150px 5px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-terapia{
    color: var(--yellow-500, #B7B16C);

    /* Body/XL */
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.22px;

    margin-top: 90px;
}

.title-terapia{
    color: var(--green-900, #032015);

    /* Heading/L */
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-top: -1%;
}

.title-terapia-item{
    color: var(--green-900, #032015);

    /* Heading/M */
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.title-item-div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-item-div-right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

.img-item{
    height: 24px;
    width: 22px;
}

.item-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -5%;
}

.space{
    margin-top: 5%;
}

.div-terapias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}


.text-item{
    color: var(--green-700, #0B3324);

    /* Body/M */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    align-self: stretch;

    width: 570px;
}

.button-terapia-item{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: var(--green-700, #0B3324);

    color: var(--neutral-white, #FFF);

    margin-top: 5%;

    /* Button/S */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;
}


.button-terapia{
    display: flex;
    padding: 20px 44px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: var(--green-700, #0B3324);

    color: var(--neutral-white, #FFF);

    /* Button/S */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;
    transition: transform .2s;

    margin-bottom: 90px;

    transition: all .2s ;

}

.button-terapia:hover{
    transform: scale(1.2);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    border: #03201500;
}

.container-carousel .buttons button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .2s;
    margin-bottom: 60px;
    margin-top: -20px;
}

.container-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-carousel .buttons button:first-child img{
    transform: rotate(180deg);
}

.container-carousel .buttons button img{
    height: 50px;
    height: 50px;
}

.container-carousel .buttons button:hover{
    transform: scale(1.1);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}


.container-carousel .carousel::-webkit-scrollbar {
    display: none;
}

.carousel{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 1200px;
    height: 500px;
    margin-left: 50px;

}

.carrossel-item{
    margin-top: 80px;
    margin-right: 50px;
    width: 1300px;
    height: 100%;
}

.carrossel-item:last-child{
    margin-right: 0px;
}

.container-carousel- .buttons button:hover{
    transform: scale(1.25);
}

.image-terapias-home{
    height: 446px;
    width: 446px;
}

/* MOBILE */

.section-terapias-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 21px;
    padding-top: 21px;
}

.location-terapia-mobile{
    align-self: stretch;

    color: var(--yellow-500, #B7B16C);
    text-align: center;

    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}

.title-terapia-mobile{
    margin-top: -1%;

    align-self: stretch;

    color: var(--green-900, #032015);
    text-align: center;

    /* Heading/XS */
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}
.paging-dot {
    width: 18px;
    height: 18px;
}

.item-div-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.image-mobile{
    width: 234px;
    height: 234px;
    flex-shrink: 0;
}

.carousel-div-mobile{
    width: 100vw;
}

.item-text-div-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.title-item-div-mobile{
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-terapia-item-mobile{
    color: var(--green-900, #032015);

    /* Heading/XS */
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.text-item-mobile{
    margin-top: -5%;

    color: var(--green-700, #0B3324);
    text-align: center;

    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */

    align-self: stretch;

    width: 360px;
}

.button-terapia-item-mobile{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: var(--green-700, #0B3324);

    color: var(--neutral-white, #FFF);

    /* Button/S */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;

    margin-bottom: 36px;
}