/* WEB */

.section-servicos-terapias{
    background: #FFF;
    box-shadow: 0px 4px 150px 5px rgba(0, 0, 0, 0.15) inset;
    margin-top: -1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;

    padding-bottom: 24px;
}

.title-section-servicos-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.title-servicos-terapias{
    margin-top: 10%;
    margin-bottom: -2%;
    color: var(--yellow-500, #B7B16C);
    /* Body/XL */
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    letter-spacing: -0.22px;
}

.subtitle-servicos-terapias{
    color: var(--green-900, #032015);
    /* Heading/L */
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    letter-spacing: 0.4px;
}

.servico-item {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.div-title-servico-item{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.title-servico-item{
    color: var(--green-900, #032015);
    /* Heading/M */
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
}

.text-servico-item{
    color: var(--green-700, #0B3324);
    /* Body/M */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    align-self: stretch;

    width: 570px;
}

.button-servico-item{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: var(--green-700, #0B3324);

    color: var(--neutral-white, #FFF);

    /* Button/S */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;

    transition: all .2s ease;
}

.button-servico-item:hover{    
    transform: scale(1.2);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    border: #F2F0DA00;
}

.left-div{
    text-align: left;
    justify-content: end;
    float: inline-end;
}

.left-text{
    text-align: end;
}

.left-button{
    float: right;
}

/* MOBILE */

.section-servicos-terapias-mobile{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.title-section-servicos-div-mobile{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.title-servicos-terapias-mobile{
    color: var(--yellow-500, #B7B16C);
    text-align: center;

    /* Bold/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */

    align-self: stretch;
}

.subtitle-servicos-terapias-mobile{
    margin-top: -2.5%;

    align-self: stretch;

    color: var(--green-900, #032015);
    text-align: center;
    
    /* Heading/XS */
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.servico-item-mobile{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.div-title-servico-item-mobile{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    width: 80vw;
}

.title-servico-item-mobile{
    color: var(--green-900, #032015);

    /* Heading/XS */
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.image-servicos-terapias-mobile{
    width: 70%;
    flex-shrink: 0;
    display: block;
    margin: 0;
}

.text-servico-item-mobile{
    margin-top: -2.5%;

    width: 80vw;
    color: var(--green-700, #0B3324);

    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */

    text-align: justify;
}