/* WEB */

.section-div1-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100vw;
    height: 95vh;
}

.div-title-section-div1-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.title-section-div1-sobre{
    color: var(--green-800, #072B1D);

    /* Heading/M */
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */

    align-self: stretch;

    width: 570px;
}

.text-section-div1-sobre{
    color: var(--green-700, #0B3324);

    /* Body/M */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    align-self: stretch;

    width: 570px;
}

/* MOBILE */

.section-div1-sobre-mobile{
    padding-top: 30%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.title-section-div1-sobre-mobile{
    color: var(--green-800, #072B1D);
    text-align: center;

    /* Heading/XS */
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.text-section-div1-sobre-mobile{
    margin-top: -2.5%;

    color: var(--green-700, #0B3324);
    width: 80%;
    text-align: center;

    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    margin-bottom: 12px;
}