/* WEB */

.section-footer{
    background: var(--green-900, #032015);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    gap: 30px;
}

.line{
    width: 1000px;
    height: 1px;
    background: #C8DCD4;
}

.logo-footer{
    filter: drop-shadow(0 0 0 #B7B16Caa);
    transition: all .2s ease;
}

.logo-footer:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 1em #B7B16Caa);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social-media-icon{
    cursor: pointer;
    transition: all .2s;
}

.social-media-icon:hover{
    transform: scale(1.2);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.littera{
    color: #FFF;

    /* Body/XS */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */

    text-decoration: none;

    margin-top: 12px;
    margin-bottom: 21px;
}

/* MOBILE */

.section-footer-mobile{
    background: var(--green-900, #032015);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    gap: 30px;
}

.logo-footer-mobile{
    width: 42px;
    height: 42px;
}

.line-mobile{
    width: 60%;
    height: 1px;
    background: #C8DCD4;
}